asn1crypto==0.24.0
certifi==2018.8.24
chardet==3.0.4
colorzero==1.1
cryptography==2.6.1
embit==0.4.2
entrypoints==0.3
gpiozero==1.5.1
idna==2.6
imutils==0.5.4
keyring==17.1.1
keyrings.alt==3.1.1
numpy==1.16.2
picamera==1.13
Pillow==8.2.0
pycrypto==2.6.1
PyGObject==3.30.4
python-apt==1.8.4.3
pyxdg==0.25
pyzbar==0.1.8
qrcode==6.1
requests==2.21.0
RPi.GPIO==0.7.0
SecretStorage==2.3.1
six==1.12.0
spidev==3.4
ssh-import-id==5.7
urllib3==1.24.1