## Verifying dice seed generation 

It is possible to do a 'dry run' to verify that seed generation has not been tempered.
This will ensure that the derivation algorithm has not been tempered and is still same as well known algorithm used bu coldcard and ian coleman bip39 webpage.

### Verifying with Ian coleman webpage

Go to https://iancoleman.io/bip39/ and check show entropy detail:
<img src="img/dice_entr.png">
